
{% load static %}

<form action="{% url 'carts:add' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <div class="">
    <!--d-inline es para que los componentes se encuentren en linea-->
    <input type="number" min="1" contenteditable="false" max="{{ product.stock }}"name="quantity" id="quantity" value="1" class="form-control-lg d-inline">
    <button type="submit" class="cart-btn d-inline">
    <i class="fas fa-shopping-cart"></i> Añadir al Carrito
    </button>
    </div>

</form>

