{% extends 'index.html' %}
{% load static %}
{% block Contenidos %}

<div class="col-3 mt-3">
{% if product.image %}
    <img src="{{ product.image.url}}" alt="{{product.title}}" style=" height: 200px; object-fit: cover;">
{% else %}
    <img src="{% static 'images/aimagenot.png' %}" alt="Card image cap" style=" height: 200px; object-fit: cover;">
{% endif %}
</div>


<div class="col mt-3">

    <div class="h1">
    {{product.title}}
    </div>

        <div class="h5 font-weight-bold">
        Precio: <span class="text-danger">${{product.price}}</span>
            </div>

        <div class="">
        <p>{{product.description}} </p>
        </div>
        <div class="">
            {% include 'carts/snippets/add.html' %}
        </div>
</div>


{% endblock %}